<div class="container mt-4">
  <h2>Bio Data List</h2>
  <!-- <button class="btn btn-primary mb-3" routerLink="/biodata-form">Create Bio Data</button> -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Father's Name</th>
        <th>Date of Birth</th>
        <th>Nationality</th>
        <th>Address</th>
        <th>Qualifications</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let biodata of biodataList">
        <td>{{ biodata.name }}</td>
        <td>{{ biodata.fatherName }}</td>
        <td>{{ biodata.dob | date }}</td>
        <td>{{ biodata.nationality }}</td>
        <td>{{ biodata.address }}</td>
        <td>
          <ul>
            <li *ngFor="let qualification of biodata.qualifications">
              {{ qualification.courseName }} - {{ qualification.university }} ({{ qualification.passingYear }}, {{ qualification.percentage }}%)
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
